If Syntax:

if (condition) {
  // block of code to be executed if the condition is true
}


Ex: int x = 20;
    int y = 18;
    if (x > y) {
      System.out.println("x is greater than y");
    }